* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(../img/background.jpg);
    text-align: center;
}

body.rtl {
    direction: rtl;
}

body.rtl .btn-delete {
    float: left;
}

header {
    height: 80px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.684);
    margin: auto;
    border-radius: 5px;
}

p {
    display: inline-block;
}

label {
    width: 250px;
}

button {
    display: block;
    margin-top: 25px;
    margin-right: 0;
    height: 40px;
    width: 100px;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.701);
    color: rgba(255, 255, 255, 0.722);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.book-filter {
    display: flex;
    height: 155px;
    width: 820px;
    background-color: rgba(0, 0, 0, 0.684);
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
}

.book-filter h2 {
    margin: 10px;
    color: rgb(178, 178, 178);
    font-style: italic;
    font-size: 25px;
}

.book-filter label {
    margin-top: 20px;
    color: rgb(178, 178, 178);
    font-style: italic;
    font-size: 20px;
}

.filter-price-range {
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.filter-rate-range {
    cursor: pointer;
    margin-left: 5px;
    margin-top: 15px;
}

.search-input {
    margin-top: 20px;
    border: none;
    width: 220px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(212, 212, 212, 0.892);
}

.search-Input::placeholder {
    color: rgba(0, 0, 0, 0.464);
}

hr {
    margin: 10px;
}

.sortWord {
    color: rgb(178, 178, 178);
    margin: 10px;
    font-size: 19px;
    width: 180px;
}

.sort-by {
    margin-top: 10px;
    background-color: rgba(178, 178, 178, 0.6);
    color: rgba(15, 14, 14, 0.916);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.sort-desc {
    margin-top: 15px;
    cursor: pointer;
}

.lang-area {
    width: 130px;
}

#lang {
    height: 30px;
    width: 80px;
    margin: 0;
    margin-top: 55px;
    margin-right: 15px;
    color: rgb(178, 178, 178);
    font-size: 20px;
}

#language {
    display: block;
    height: 25px;
    width: 100px;
    margin: 0;
    margin-right: 12px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgba(167, 165, 165, 0.727);
    color-scheme: dark;
    color: rgba(61, 61, 61, 0.823);
    cursor: pointer;
}

.page-number {
    display: inline-block;
    font-size: 22px;
    font-style: italic;
}

.btns-pages {
    height: 50px;
    width: 50px;
}

.page-btn {
    margin: 0;
    height: 30px;
    width: 30px;
}

#btn-prev {
    display: inline-block;
    margin-right: 10px;
    background-color: rgba(74, 64, 209, 0.625);
}

#btn-next {
    display: inline-block;
    margin-left: 10px;
    background-color: rgba(74, 64, 209, 0.625);
}

#btn-prev:hover {
    background-color: rgba(57, 175, 57, 0.744);
    color: rgba(255, 255, 255, 0.792);
}

#btn-next:hover {
    background-color: rgba(57, 175, 57, 0.744);
    color: rgba(255, 255, 255, 0.792);
}

.addBtn {
    margin: 0;
    height: 100px;
    width: 150px;
    background: none;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 100;
    color: rgba(178, 178, 178, 0.853);
}

.span-add {
    font-style: italic;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    padding-top: 15px;
    color: rgba(255, 255, 255, 0.5);
}

button:hover {
    color: green;
}

table {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.727);
    color: rgba(255, 255, 255, 0.722);
    font-size: 20px;
}

th {
    height: 40px;
    width: 130px;
    background-color: r;
    color: rgb(225, 120, 22);
    text-transform: uppercase;
    border: 2px solid black;
    font-size: 25px;
}

.cell {
    border: 2px solid black;
    height: 40px;
    width: 130px;
    cursor: not-allowed;
    font-size: 32px;
}

.cell.id {
    font-style: italic;
    font-size: 25px;
}

.th.title {
    width: 250px;
    padding: 10px;
}

.cell.title {
    width: 250px;
    text-align: left;
    padding: 10px;
    text-transform: capitalize;
    text-align: left;
    cursor: pointer;
    font-size: 29px;
    color: rgba(195, 195, 195, 0.748);
}

.th.popular {
    width: 130px;
}

.cell.popular {
    width: 130px;
}

.cell.read,
.cell.update,
.cell.delete {
    cursor: pointer;
}

.cell.title:hover {
    color: green;
}

.user-msg {
    transition: 1s;
    font-size: 30px;
    height: 70px;
    width: 300px;
    position: fixed;
    top: -150px;
    left: 590px;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    color: white;
}

.user-msg.red {
    background-color: rgba(224, 0, 0, 0.829);
    top: 270px;
    left: 590px;
    opacity: 1;
}

.user-msg.green {
    background-color: rgba(19, 184, 13, 0.829);
    top: 250px;
    left: 570px;
    opacity: 1;
}

.read-modal {
    transition: 1s;
    height: 400px;
    width: 400px;
    position: fixed;
    top: 250px;
    left: -150px;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.799);
    color: white;
    font-size: 30px;
    text-align: center;
}

.read-modal.shown {
    top: 250px;
    left: 570px;
    opacity: 1;
}

.read-h1 {
    font-size: 50px;
    color: white;
    margin: 0;
    padding: 0;
}

.read-h2 {
    margin-top: 30px;
    font-size: 25px;
    color: rgb(25, 208, 165);
}

.read-h3 {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(160, 160, 160);
}

.update-modal {
    display: flex;
    height: 450px;
    width: 400px;
    position: fixed;
    top: 250px;
    bottom: -150px;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.799);
    color: white;
    font-size: 30px;
    text-align: center;
}

.update-modal.shown {
    transition: 1s;
    top: 250px;
    left: 570px;
    opacity: 1;
}

#exit-btn {
    position: absolute;
    height: 40px;
    width: 40px;
    background: none;
    top: 0;
    right: 0;
    margin: 0;
    color: white;
}

#exit-btn :hover {
    color: red;
}

form {
    display: flex;
    /* position: absolute; */
    height: 400px;
    width: 400px;
}

.id-h2 {
    position: relative;
    height: 40px;
    top: 20px;
    left: 160px;
    font-size: 25px;
    color: rgb(25, 208, 165);
}

.name-h1 {
    position: relative;
    height: 70px;
    font-size: 30px;
    color: white;
    padding: 0;
    inset: 0;
    margin: 80px 80px;
}

.price-h1 {
    position: absolute;
    top: 250px;
    left: 100px;
    font-size: 40px;
    color: rgb(160, 160, 160);
}

.rate-h1 {
    position: absolute;
    top: 312px;
    left: 185px;
    font-size: 30px;
    color: rgb(160, 160, 160);
}

.price-form {
    position: absolute;
    height: 30px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.925);
    color: black;
    border: none;
    border-radius: 10px;
}

.btns.plus {
    position: absolute;
    top: 314px;
    left: 135px;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    margin: 0;
    background-color: rgba(15, 214, 15, 0.507);
    margin: auto;
}

.btns.minus {
    position: absolute;
    top: 314px;
    right: 135px;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    margin: 0;
    background-color: rgba(214, 15, 15, 0.507);
}

.enter-btn {
    position: absolute;
    margin: 0;
    top: 370px;
    right: 155px;
    background-color: rgba(255, 255, 255, 0.774);
    color: black;
}

.enter-btn:hover {
    background-color: rgba(32, 216, 41, 0.69);
    color: white;
}

img {
    height: 135px;
    width: 120px;
    border: none;
    border-radius: 5px;
}

td.cell.img {
    height: 140px;
    width: 130px;
    padding-top: 5px;
}

.th.img {
    width: 130px;
}